@keyframes ldio-s4dbmhxm5ps {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-s4dbmhxm5ps div {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 10px solid #e15b64;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-s4dbmhxm5ps div {
  animation: ldio-s4dbmhxm5ps 0.9803921568627451s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-gq23rjqpzpg {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-s4dbmhxm5ps {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-s4dbmhxm5ps div {
  box-sizing: content-box;
}
