<div class="m-0 p-0 smallProfileIcon">
  <a
    style="cursor: pointer;"
    role="button"
    (click)="showAdminMenu = !showAdminMenu"
  >
    <!-- <i class="fas fa-user-cog primaryIC"></i> -->
    <i class="fas fa-cog primaryIC"></i>
    <!-- <i class="fas fa-user-cog primaryIC"></i> -->
  </a>
</div>

<app-clicking-layer
  (layerClicked)="showAdminMenu = false"
  [booleanVar]="showAdminMenu"
></app-clicking-layer>

<app-admin-menu
  (buttonClicked)="showAdminMenu = false"
  *ngIf="showAdminMenu"
></app-admin-menu>
