<form class="form-row pb-2">
  <div class="col-md-6">
    <div class="form-group m-0">
      <div class="row no-gutters">
        <div class="col-12">
          <label class="secondaryFC" for="searchForUsers"
            >Search by
            <select
              [(ngModel)]="selectForSearch"
              [ngModelOptions]="{ standalone: true }"
              #selectOfSearch
              class="form-control d-inline secondaryFC"
              id="searchForUsers"
            >
              <option
                *ngFor="let query of searchQueries"
                [value]="query.value"
                >{{ query.label }}</option
              >
            </select>
            :</label
          >
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-9 px-0">
          <input class="form-control" id="searchForUsersText" [type]="" />
        </div>
        <div class="col-lg-3 px-0">
          <button type="button" class="btn btn-primary btn-block">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group m-0">
      <div class="row no-gutters">
        <div class="col-lg-12 pl-0">
          <label class="secondaryFC" for="filterUsers"
            >Filter by
            <select
              [(ngModel)]="selectForFilter"
              [ngModelOptions]="{ standalone: true }"
              class="form-control d-inline secondaryFC"
              id="filterUsers"
            >
              <option
                *ngFor="let query of filterQueries"
                [value]="query.value"
                >{{ query.label }}</option
              >
            </select>
            :</label
          >
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-lg-9 px-0">
          <div [ngSwitch]="filterQuery.type">
            <div *ngSwitchCase="'text'">
              <input class="form-control" type="text" />
            </div>
            <div *ngSwitchCase="'number'">
              <input class="form-control" type="number" />
            </div>
            <div *ngSwitchCase="'date'">
              <div class="row no-gutters">
                <div id="dateFrom" class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-2 centeringVertically">
                      <label
                        for="filterFromDate"
                        class="m-auto d-block text-center"
                        style="text-align: center; font-size: smaller;"
                        >from</label
                      >
                    </div>

                    <div class="col-10">
                      <input
                        id="filterFromDate"
                        class="form-control dateFilterInputs d-inline ml-0 pl-0"
                        type="date"
                      />
                    </div>
                  </div>
                </div>
                <div id="dateTo" class="col-md-6">
                  <div class="row no-gutters">
                    <div class="col-2 centeringVertically">
                      <label
                        for="filterToDate"
                        class="m-auto d-block text-center"
                        style="text-align: center; font-size: smaller;"
                        >to</label
                      >
                    </div>

                    <div class="col-10">
                      <input
                        id="filterToDate"
                        class="form-control dateFilterInputs d-inline ml-0 pl-0"
                        type="date"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'select'">
              <select class="form-control">
                <option
                  *ngFor="let selectOption of filterQuery.selectOptions"
                  [value]="selectOption.value"
                  >{{ selectOption.label }}</option
                >
              </select>
            </div>
            <div *ngSwitchDefault></div>
          </div>
        </div>
        <div class="col-lg-3 px-0">
          <button type="button" class="btn btn-primary btn-block">
            Filter
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
