<svg
  id="important"
  xmlns="http://www.w3.org/2000/svg"
  width="28"
  height="28"
  viewBox="0 0 28 28"
  (click)="divOpen()"
>
  <rect
    data-name="Rectangle 24"
    width="13"
    height="12"
    class="closedFill1"
    rx="2"
    transform="translate(15)"
  />
  <rect
    data-name="Rectangle 25"
    width="13"
    class="closedFill2"
    height="12"
    rx="2"
    transform="translate(0 2)"
  />
  <rect
    data-name="Rectangle 26"
    width="13"
    height="12"
    class="closedFill1"
    rx="2"
    transform="translate(0 16)"
  />
  <rect
    data-name="Rectangle 27"
    width="13"
    class="closedFill2"
    height="12"
    rx="2"
    transform="translate(15 14)"
  />
</svg>

<div
  class="
"
  id="notificationsDiv"
></div>
