table tr:hover td {
  background-color: bisque;
  color: darkblue;
}

.informationCardNumber {
  background-color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.informationCardName {
  border-radius: 0 0 10px 10px;
  background-color: whitesmoke;
  text-align: center;
}

label {
  color: bisque;
}

select {
  background-color: transparent;
  width: fit-content;
  color: bisque;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  text-align: left;
  padding: 0;
}
select option {
  color: black;
}

select:focus {
  border: none;
  color: bisque;
  background-color: rgba(255, 255, 255, 0.2);
}
select:active {
  border: none;
  color: bisque;
  background-color: rgba(255, 255, 255, 0.2);
}
select:default {
  border: none;
  color: bisque;
  background-color: rgba(255, 255, 255, 0.2);
}
