<div class="row">
  <div class="col-md-12">
    <!-- TODO delete this button ofter connecting to backend -->
    <button class="btn btn-block btn-primary mb-5" routerLink="new">
      New user
    </button>
  </div>
</div>

<div
  *ngIf="!fetchingDataVars.isFetchingDone && !fetchingDataVars.isFetchingError"
>
  <app-is-fetching></app-is-fetching>
</div>

<div *ngIf="fetchingDataVars.isFetchingError">
  <app-fetching-error></app-fetching-error>
</div>

<div
  *ngIf="
    fetchingDataVars.isFetchingDone &&
    fetchingDataVars.usersArrayLength < 1 &&
    !fetchingDataVars.isFetchingError
  "
>
  <app-fetched-nothing [dataType]="'Users'"></app-fetched-nothing>
</div>

<div
  *ngIf="
    fetchingDataVars.isFetchingDone && fetchingDataVars.usersArrayLength >= 1
  "
>
  <div class="row"></div>
  <div class="row mb-5">
    <div class="col-md-4">
      <h1 class="m-0 py-5 informationCardNumber">
        {{ fetchingDataVars.usersArrayLength }}
      </h1>
      <h3 class="m-0 py-3 informationCardName">
        User<span *ngIf="users.length > 1">s</span>
      </h3>
    </div>
    <div class="col-md-4">
      <h1 class="m-0 py-5 informationCardNumber">
        {{ usersStates.active }}
      </h1>
      <h3 class="m-0 py-3 informationCardName">
        Active User<span *ngIf="usersStates.active > 1">s</span>
      </h3>
    </div>
    <div class="col-md-4">
      <h1 class="m-0 py-5 informationCardNumber">
        {{ usersStates.panned }}
      </h1>
      <h3 class="m-0 py-3 informationCardName">
        Panned User<span *ngIf="usersStates.panned > 1">s</span>
      </h3>
    </div>
  </div>

  <form class="form-row pb-2">
    <div class="col-md-6">
      <div class="form-group m-0">
        <div class="row">
          <div class="col-md-12">
            <label for="searchForUsers"
              >Search by
              <select
                [(ngModel)]="selectForSearch"
                [ngModelOptions]="{ standalone: true }"
                #selectOfSearch
                class="form-control d-inline"
                id="searchForUsers"
              >
                <option value="name">Name</option>
                <option value="id">ID</option>
                <option value="email">Email Address</option>
                <option value="phone">Phone Number</option>
              </select>
              :</label
            >
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 pr-0">
            <input
              *ngIf="selectForSearch === 'name'"
              class="form-control"
              id="searchForUsersText"
              type="text"
            />
            <input
              *ngIf="selectForSearch === 'id'"
              class="form-control"
              id="searchForUsersText"
              type="number"
            />
            <input
              *ngIf="selectForSearch === 'phone'"
              class="form-control"
              id="searchForUsersText"
              type="tel"
            />
            <input
              *ngIf="selectForSearch === 'email'"
              class="form-control"
              id="searchForUsersText"
              type="email"
            />
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="separator" class="col-md-1"></div>

    <div class="col-md-5">
      <div class="form-group m-0">
        <div class="row">
          <div class="col-md-12 pl-0">
            <label for="filterUsers"
              >Filter by
              <select
                [(ngModel)]="selectForFilter"
                [ngModelOptions]="{ standalone: true }"
                class="form-control d-inline"
                id="filterUsers"
              >
                <option value="date">Registration Date</option>
                <option value="city">City</option>
                <option value="country">Country</option>
                <option value="state">User State</option>
              </select>
              :</label
            >
          </div>
        </div>

        <div class="row">
          <div class="col-md-9 px-0">
            <div [ngSwitch]="selectForFilter">
              <div *ngSwitchCase="'city'">
                <input class="form-control" type="text" />
              </div>
              <div *ngSwitchCase="'country'">
                <input class="form-control" type="text" />
              </div>
              <div *ngSwitchCase="'date'">
                <div style="height: 100%;" class="row">
                  <div style="height: 100%;" class="col-md-1 p-0 m-auto">
                    <label
                      for="filterFromDate"
                      class="m-auto d-block text-center"
                      style="
                        color: wheat;
                        text-align: center;
                        font-size: smaller;
                      "
                      >from</label
                    >
                  </div>
                  <div class="col-md-5 pl-0">
                    <input
                      id="filterFromDate"
                      class="form-control d-inline ml-0 pl-0"
                      type="date"
                    />
                  </div>
                  <div
                    style="height: 100% !important;"
                    class="col-md-1 p-0 m-auto"
                  >
                    <label
                      for="filterToDate"
                      class="m-auto d-block text-center"
                      style="
                        color: wheat;
                        text-align: center;
                        font-size: smaller;
                      "
                      >to</label
                    >
                  </div>
                  <div class="col-md-5 pl-0">
                    <input
                      id="filterToDate"
                      class="form-control d-inline ml-0 pl-0"
                      type="date"
                    />
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'state'">
                <select class="form-control">
                  <option value="active">Active</option>
                  <option value="panned">Panned</option>
                  <option value="notActiveNotPanned">
                    Not Active Not Panned
                  </option>
                </select>
              </div>
              <div *ngSwitchDefault></div>
            </div>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block">
              Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <app-users-table [users]="users"></app-users-table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-users-graph [finalCounter]="finalCounter"></app-users-graph>
    </div>
  </div>
</div>
