a {
  margin-bottom: 1rem;
}

.primaryBG p {
  margin: 0;
}

.primaryBG {
  padding: 1rem;
  padding-top: 0;
  border-radius: 10px;
}

.mainPadding {
  padding-top: 1rem;
}

#centeringMainData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#issueMain {
  opacity: 0.7;
}
#offerCode {
  font-size: 2rem;
}

#offerDiscount {
  font-size: 1.5rem;
}

.gold {
  background-color: gold;
}

.silver {
  background-color: silver;
}

.bronze {
  background-color: gray;
}
