<app-back-button></app-back-button>
<app-dashboard-spinner *ngIf="spin"></app-dashboard-spinner>

<form *ngIf="!spin">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="primaryFC" for="companyName">Company Name</label>
      <input
        type="text"
        class="form-control"
        id="companyName"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="company.name"
      />
    </div>
    <div class="form-group col-md-6">
      <label class="primaryFC" for="companyEmployees">No. of employees</label>
      <input
        type="text"
        class="form-control"
        id="companyEmployees"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="company.numberOfEmployees"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="primaryFC" for="companyEmail">Company Email</label>
      <input
        type="email"
        class="form-control"
        id="companyEmail"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="company.email"
      />
    </div>
    <div class="form-group col-md-6">
      <label class="primaryFC" for="companyPhone">company phone number</label>
      <input
        type="text"
        class="form-control"
        id="companyPhone"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="company.phone"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="primaryFC" for="companyCountry">Country</label>
      <input
        type="text"
        class="form-control"
        id="companyCountry"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="company.address.country"
      />
    </div>
    <div class="form-group col-md-4">
      <label class="primaryFC" for="companyCity">City</label>
      <input
        type="text"
        class="form-control"
        id="companyCity"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="company.address.city"
      />
    </div>
    <div class="form-group col-md-4">
      <label class="primaryFC" for="companyAddress">Street</label>
      <input
        type="text"
        class="form-control"
        id="companyAddress"
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="company.address.street"
      />
    </div>
  </div>

  <div class="form-row">
    <button
      type="submit"
      (click)="updateCompanyData()"
      class="btn btn-primary btn-block"
    >
      SAVE
    </button>
  </div>
</form>
