<div id="sideMenuWideScreen" class="row w-100 py-2 ml-1">
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="../"
    >
      <div>
        <i class="fa fa-home"></i>

        <p>Home</p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../admins"
    >
      <div>
        <!-- <i class="fas fa-users-cog"></i> -->
        <i class="fas fa-user-cog"></i>
        <p>Admins</p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../users"
    >
      <div>
        <i class="fa fa-address-book"></i>
        <p>Users</p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../cars"
    >
      <div>
        <i class="fas fa-car"></i>
        <p>Cars</p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../partners"
    >
      <div>
        <i class="fas fa-hands-helping"></i>
        <p>Partners</p>
      </div>
    </a>
  </div>

  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../issues"
    >
      <div>
        <i class="fas fa-comment-dots"></i>
        <p>Issues</p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../offers"
    >
      <div>
        <i class="fas fa-gift"></i>
        <p>Offers</p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../packages"
    >
      <div>
        <i class="fas fa-archive"></i>
        <p>Packages</p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../notifications"
    >
      <div>
        <i class="fas fa-bell"></i>
        <p>Notifications</p>
      </div>
    </a>
  </div>
  <div class="col-6">
    <a
      class="btn btn-primary btn-block btn-lg"
      routerLinkActive="activeLink"
      routerLink="../faqs"
    >
      <div>
        <i class="fas fa-question-circle"></i>
        <p>Frequently asked questions</p>
      </div>
    </a>
  </div>
</div>
