<div style="background-color: rgba(0, 0, 0, 0.1); width: 100vw; height: 100vh">
  <div class="container">
    <div *ngIf="isLogging" id="spinnerRow" class="row m-auto px-0 pt-2 pb-1">
      <div class="col-md-12 px-2">
        <app-dashboard-spinner class="m-0 p-0"></app-dashboard-spinner>
      </div>
    </div>

    <div
      *ngIf="isAuthenticated"
      id="userDataRow"
      class="row m-auto px-0 pt-2 pb-1"
    >
      <div class="col-md-12 px-2">
        <!-- here display admin data and a link to dashboard -->
        <a routerLink="../dashboard"
          >WELCOME {{ adminData.adminName }}, GO TO DASHBOARD >></a
        >
      </div>
    </div>

    <div
      *ngIf="!isAuthenticated && !isLogging"
      id="loggingRow"
      class="row flex-wrap-reverse"
    >
      <div id="formDiv" class="py-5 px-4 col-md-6">
        <h2 style="font-weight: bold">Admin Login</h2>
        <p>
          If you forgot your logging information, ask the IT center for a reset.
        </p>
        <p *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </p>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="form-group">
            <label for="email">Email</label>
            <small
              *ngIf="email.dirty && !email.valid"
              class="form-text font-italic text-muted ml-2 d-inline"
              >~ Please enter a valid email!</small
            >
            <input
              type="email"
              class="form-control"
              id="email"
              ngModel
              #email="ngModel"
              email
              name="email"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <small
              *ngIf="password.dirty && !password.valid"
              class="form-text font-italic text-muted ml-2 d-inline"
              >~ Please enter a valid password!</small
            >
            <input
              type="password"
              class="form-control"
              id="password"
              ngModel
              #password="ngModel"
              name="password"
              [value]="temporaryAdmin.password"
              required
              [pattern]="passwordPattern"
            />
          </div>
          <button
            class="btn btn-primary"
            [disabled]="!loginForm.valid"
            type="submit"
          >
            LOGIN
          </button>
        </form>
      </div>
      <div id="imgDiv" class="col-md-6">
        <div (click)="autoLoginCounterChecker()">
          <img src="../../assets/barq-dark.png" />
        </div>
      </div>
    </div>
  </div>
</div>
