<div class="row mb-5">
  <div class="col-4">
    <h2 class="m-0 py-5 informationCardNumber">
      {{ dataArray[3][dataArray[0]] }}
    </h2>
    <h4 class="m-0 py-3 informationCardName">
      {{ dataArray[0] }}<span *ngIf="dataArray[3][dataArray[0]] > 1">s</span>
    </h4>
  </div>
  <div class="col-4">
    <h2 class="m-0 py-5 informationCardNumber">
      {{ dataArray[3][dataArray[1]] }}
    </h2>
    <h4 class="m-0 py-3 informationCardName">
      {{ dataArray[1] }}
    </h4>
  </div>
  <div class="col-4">
    <h2 class="m-0 py-5 informationCardNumber">
      {{ dataArray[3][dataArray[2]] }}
    </h2>
    <h4 class="m-0 py-3 informationCardName">
      {{ dataArray[2] }}
    </h4>
  </div>
</div>
