.informationCardNumber {
  background-color: white;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.informationCardName {
  border-radius: 0 0 10px 10px;
  border-top: 1px gray solid;
  background-color: white;
  text-align: center;
}

label select {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  text-align: left;
  padding: 0;
}
label select option {
  color: black;
}

label select:focus {
  border: none;
  color: bisque;
  background-color: rgba(255, 255, 255, 0.7);
}
label select:active {
  border: none;
  color: bisque;
  background-color: rgba(255, 255, 255, 0.7);
}
label select:default {
  border: none;
  color: bisque;
  background-color: rgba(255, 255, 255, 0.7);
}

form .col-md-6 {
  margin-bottom: 1rem;
}

form .col-lg-3 {
  padding-left: 0.5rem !important;
}

.centeringVertically {
  border: 1px solid #ced4da;
  background-color: white;
  border-radius: 0.25rem 0 0 0.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.centeringVertically label {
  color: black;
  display: flex;
  align-items: center;
}

.dateFilterInputs {
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none;
}

@media only screen and (max-width: 992px) {
  form button {
    margin-top: 0.5rem;
  }

  form .col-lg-3 {
    padding-left: 0 !important;
  }
}
