<app-back-button></app-back-button>

<!-- <app-dashboard-spinner *ngIf="!spin"></app-dashboard-spinner> -->

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="primaryFC" for="offerCode">Code</label>
      <input
        required
        type="text"
        class="form-control"
        id="offerCode"
        name="offerCode"
        [(ngModel)]="offer.code"
      />
    </div>

    <div class="form-group col-md-6">
      <label class="primaryFC" for="offerDiscount">Discount</label>
      <input
        required
        type="text"
        class="form-control"
        id="offerDiscount"
        name="offerDiscount"
        [(ngModel)]="offer.discount"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="primaryFC" for="offerStart">Start</label>
      <input
        required
        type="date"
        class="form-control"
        id="offerStart"
        name="offerStart"
        [(ngModel)]="offer.startingDate"
      />
    </div>

    <div class="form-group col-md-6">
      <label class="primaryFC" for="offerEnd">End</label>
      <input
        required
        type="date"
        class="form-control"
        id="offerEnd"
        name="offerEnd"
        [(ngModel)]="offer.endingDate"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label class="primaryFC" for="offerCountry">Body</label>
      <input
        required
        type="text"
        class="form-control"
        id="offerCountry"
        name="offerCountry"
        [(ngModel)]="offer.body"
      />
    </div>
  </div>

  <div class="form-row">
    <button
      type="submit"
      (click)="updateOfferData()"
      class="btn btn-primary btn-block"
    >
      Save
    </button>
  </div>
</form>
