:host {
  /* height: 100%; */
  padding: 0;
  margin: 0;
}

#todoButton {
  cursor: pointer;
  color: #dcc3c3;
  font-size: 1.3rem;
}

#todoDiv {
  position: fixed;
  top: 52px;
  right: 0;
  width: 40vw;
  z-index: 5;
  display: none;
  max-width: 500px;
  overflow-y: auto;
  overflow-x: none !important;
}

@media only screen and (max-width: 800px) {
  #todoDiv {
    width: 120vw !important;
  }
}
