:host {
  /* height: 100%; */
  padding: 0;
  margin: 0;
}

#notificationButton {
  cursor: pointer;
  color: #dcc3c3;
  font-size: 1.3rem;
}

#notificationsDiv {
  border-left: 2px solid #050510;
  position: fixed;
  top: 52px;
  right: 0;
  width: 40vw;
  display: none;
  max-width: 500px;
  overflow-y: auto;
  overflow-x: none !important;
}
