<div style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;" class="table-responsive p-0 m-0">
  <table style="border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;" class="table table-dark p-0 m-0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Issue ID</th>
        <th scope="col">Label</th>
        <th scope="col">Body</th>
        <th scope="col">Customer ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let issue of issues; index as i" (click)="issueProfile(issue)" style="cursor: pointer;">
        <td scope="row">{{ i + 1 }}</td>
        <td scope="row">{{ issue.id | shorten: 5 }}</td>
        <td> {{ issue.label }} </td>
        <td>{{ issue.body }}</td>
        <td>{{ issue.userId }}</td>
      </tr>
    </tbody>
  </table>
</div>
