<!-- N A V B A R -->
<nav class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="fas fa-bars"></span>
    <!-- <i class="fas fa-bars"></i> -->
  </button>
  <img
    src="../../assets/barq-dark.png"
    class="img-fluid nav-logo-mobile logoHeight"
    alt="Company Logo"
  />
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="container">
      <img
        src="../../assets/barq-dark.png"
        class="img-fluid nav-logo-desktop logoHeight"
        alt="Company Logo"
      />
      <ul
        class="navbar-nav ml-auto nav-right"
        data-easing="easeInOutExpo"
        data-speed="1250"
        data-offset="65"
      >
        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="#hero"
            >Home <i class="icon fas fa-arrow-right icon-mobile"></i
          ></a>
        </li>
        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="#mainWords"
            >Who we are? <i class="icon fas fa-arrow-right icon-mobile"></i
          ></a>
        </li>
        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="#features"
            >Features <i class="icon fas fa-arrow-right icon-mobile"></i
          ></a>
        </li>

        <li class="nav-item nav-custom-link">
          <a class="nav-link" href="#call-to-action"
            >Join Us <i class="icon fas fa-arrow-right icon-mobile"></i
          ></a>
        </li>
        <li class="nav-item nav-custom-link btn btn-demo-small">
          <a class="nav-link" routerLink="barq-admin"
            >ADMIN LOGIN <i class="icon fas fa-arrow-right icon-mobile"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- E N D  N A V B A R -->

<!-- H E R O -->
<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img src="../../assets/iphone.png" class="img-fluid" alt="Demo image" />
      </div>
      <div class="col-md-7 content-box align-content-vertically">
        <div>
          <span>*not actual product</span>
          <h1><b>BARQ</b> System</h1>
          <p>Transportation became smarter, safer and easier.</p>
          <!-- <a href="#" class="btn btn-regular">Learn more</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- E N D  H E R O -->

<!-- E N D  M A R K E T I N G -->

<section id="mainWords">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content-box">
          <p>
            BARQ's mission is to make it safe and easy for people and things to
            get where they're going. Barq driver can improve the world's access
            to mobility while saving thousands of lives now lost to traffic
            crashes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- E N D  M A R K E T I N G -->

<!-- F E A T U R E S -->
<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="safer"></div>
      </div>
      <div class="col-md-6 align-content-vertically">
        <p>
          <span class="featureWord">Safer</span>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no
        </p>
      </div>
    </div>
    <div class="row reverseRow">
      <div class="col-md-6">
        <div id="easier"></div>
      </div>
      <div class="col-md-6 align-content-vertically">
        <div>
          <p class="m-0">
            <span class="featureWord">Easier</span>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="smarter"></div>
      </div>
      <div class="col-md-6 align-content-vertically">
        <p class="m-0">
          <span class="featureWord">Smarter</span>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no
        </p>
      </div>
    </div>
  </div>
</section>
<!-- E N D  F E A T U R E S -->

<!-- C A L L  T O  A C T I O N -->
<section id="call-to-action">
  <div class="container text-center layer">
    <h2>JOIN US</h2>
    <div class="title-block">
      <p class="m-0">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero.
      </p>
      <!-- <a href="#" class="btn btn-regular">Get Started</a> -->
    </div>
  </div>
</section>
<!-- E N D  C A L L  T O  A C T I O N -->

<!--  F O O T E R  -->
<footer>
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-6 col-xs-12"></div> -->
      <div class="col-md-12 col-xs-12">
        <p class="text-center m-0">
          2020 &copy; All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
<!--  E N D  F O O T E R  -->
