#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.container-fluid .row {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 800px) {
  .col-md-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .container-fluid .row {
    margin-bottom: 5.5rem;
  }
}

@media only screen and (max-width: 300px) {
  .container-fluid .row {
    margin-bottom: 4rem;
  }
}
