/* You can add global styles to this file, and also import other style files */
/* TODO put here dark and light theme and use them as classes in every component */
/* TODO make sure that these styles work
1- variable in each component and on every second search for its value */
.darkThemeMain {
  background-color: #050510 !important;
}
.darkThemeSecondary {
  background-color: #16202a !important;
}
.lightThemeMain {
  background-color: #dcc3c3 !important;
}
.lightThemeSecondary {
  background-color: #dcc3c3 !important;
}
.lightThemeNavMain {
  background-color: #707070 !important;
}
