.darkThemeMain {
  background-color: #050510 !important;
}
.darkThemeSecondary {
  background-color: #16202a !important;
}
.lightThemeMain {
  background-color: #dcc3c3 !important;
}
.lightThemeSecondary {
  background-color: #dcc3c3 !important;
}
.lightThemeNavMain {
  background-color: #707070 !important;
}
