<div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="All" id="All" autocomplete="off" checked /> All
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="Checked" id="Checked" autocomplete="off" />
    Checked
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="Unchecked" id="Unchecked" autocomplete="off" />
    Unchecked
  </label>
</div>

<form #todoForm="ngForm" (ngSubmit)="submitTodo(todoForm)">
  <div class="form-row">
    <div class="col-sm-10 pl-1 pr-0">
      <input
        required
        name="todo"
        id="todo"
        ngModel
        #todo="ngModel"
        class="form-control pr-0 pl-2"
        type="text"
      />
    </div>
    <div class="col-sm-2 px-0">
      <button
        class="btn px-0"
        style="background-color: white;"
        [disabled]="!todoForm.valid"
        type="submit"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</form>

<div class="todoList">
  <div
    class="row todoItem px-1 mt-2 mb-1"
    [ngClass]="{ checkedToDO: todoItem.checked }"
    *ngFor="let todoItem of todoList"
  >
    <div class="col-sm-10 pl-0">
      <p class="d-inline-block pl-2">
        {{ todoItem.content }}
      </p>
    </div>
    <div class="col-sm-1 px-0" *ngIf="!todoItem.checked">
      <button
        (click)="checkTodo(todoItem._id)"
        class="btn-primary btn px-0 todoItemCheck"
        type="button"
      >
        <i class="fas fa-check"></i>
      </button>
    </div>
    <div class="col-sm-1 px-0" *ngIf="todoItem.checked">
      <button
        (click)="unCheckTodo(todoItem._id)"
        class="btn-primary btn px-0 todoItemCheck"
        type="button"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="col-sm-1 px-0">
      <button
        class="btn-danger btn px-0 todoItemTrash"
        (click)="deleteTodo(todoItem._id)"
        type="button"
      >
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>
