.btn:focus,
.btn:active,
input:focus,
input:active,
.btn-group label input:focus,
.btn-group label:focus,
.btn-group label input:active,
.btn-group label:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  width: 100%;
  height: 100%;
}

.todoItemCheck {
  border-radius: 0.25rem 0rem 0rem 0.25rem;
}

.todoItemTrash {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
}

.todoItem {
  background-clip: content-box !important;
  border-radius: 0.5rem;
  transition: all 0.25s ease;
}

.todoItem:hover {
  background-color: white;
}

.adminsInfo {
  background-clip: content-box !important;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  transition: all 0.25s ease;
}

.todoItem:hover .adminsInfo {
  background-color: whitesmoke;
}

.btn-group label input,
.btn-group label {
  border: none;
  border-radius: 0rem;
  outline: none !important;
  box-shadow: none !important;
}

form input {
  border: none;
  border-radius: 0rem;
}

form button {
  border: none;
  border-radius: 0rem;
  color: #212529 !important;
}

form button:disabled {
  cursor: auto;
  background-color: white !important;
  color: aquamarine !important;
  opacity: 1;
}

.checkedToDO {
  opacity: 0.5;
}

.checkedToDO .col-sm-10 p {
  text-decoration: line-through;
  font-style: italic;
}

p {
  word-break: break-all;
  white-space: normal;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.row {
  margin-right: 0rem;
  margin-left: 0rem;
}

@media only screen and (max-width: 800px) {
  .todoItem:hover {
    background-color: transparent;
  }

  .todoItem:hover .adminsInfo {
    background-color: whitesmoke;
  }
}
