table tr:hover td {
  background-color: bisque;
  color: darkblue;
}

table,
.table-responsive,
#tableHeight {
  border-radius: inherit;
}

#tableHeight {
  height: inherit;
  background-color: rgb(23, 43, 77);
  overflow: auto;
}

.table-responsive {
  overflow: visible;
}
