<div id="fastStatistics" class="carousel slide m-0" data-ride="carousel">
  <div class="carousel-inner row m-0 px-5">
    <div class="carousel-item active" data-interval="5000">
      <div class="col-md-4 d-inline-block">
        11
      </div>
      <div class="col-md-4 d-inline-block">
        12
      </div>
      <div class="col-md-4 d-inline-block">
        13
      </div>
      <!-- <img
        src="../../assets/loginBackground.jpg"
        class="d-block w-100"
        alt="..."
      /> -->
    </div>
    <div class="carousel-item" data-interval="5000">
      <div class="col-md-4 d-inline-block">
        21
      </div>
      <div class="col-md-4 d-inline-block">
        22
      </div>
      <div class="col-md-4 d-inline-block">
        23
      </div>
      <!-- <img
        src="../../assets/loginBackground.jpg"
        class="d-block w-100"
        alt="..."
      /> -->
    </div>
    <div class="carousel-item" data-interval="5000">
      <div class="col-md-4 d-inline-block">
        31
      </div>
      <div class="col-md-4 d-inline-block">
        32
      </div>
      <div class="col-md-4 d-inline-block">
        33
      </div>
      <!-- <img
        src="../../assets/loginBackground.jpg"
        class="d-block w-100"
        alt="..."
      /> -->
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#fastStatistics"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#fastStatistics"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
fdsdfdsfdsfdsfsdfds
