#fastStatistics .col-9,
#fastStatistics .col-3 {
  padding-right: 4px;
  padding-left: 4px;
}

.carousel-item .col-sm-3 {
  height: 100px;
  background-image: linear-gradient(to right, #4466f2, #1ea6ec);
  background-clip: content-box;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 10%;
  overflow: hidden;
}
.carousel-control-prev,
.carousel-control-next {
  width: auto;
}

.icon-rotate-180 {
  -webkit-transform: rotate(180deg) translateY(50%) !important;
  -moz-transform: rotate(180deg) translateY(50%) !important;
  -ms-transform: rotate(180deg) translateY(50%) !important;
  -o-transform: rotate(180deg) translateY(50%) !important;
  transform: rotate(180deg) translateY(50%) !important;
}

#fastStatistics .carousel-item {
  text-align: center;
  color: whitesmoke;
}

#fastStatistics .carousel-item .row p {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1.8rem;
  line-height: 0.5;
}

.breakDisplay {
  display: none;
}

#fastStatistics .carousel-item .row {
  overflow: hidden;
  height: 100%;
}
#fastStatistics .carousel-item .row span {
  font-size: 0.8rem;
}

#fastStatistics .carousel-item .row,
#fastStatistics .carousel-item .row :not(.bigI) i,
#fastStatistics .carousel-item p,
#fastStatistics .carousel-item span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#fastStatistics .col-3 i {
  font-size: 1.5rem;
}

.carousel-item .row .bigI {
  position: absolute;
  right: 0;
  top: 75%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-item .row .bigI i {
  font-size: 4rem;
  opacity: 0.2;
}

#firstCanvas {
  padding-right: 8px;
}

#secondCanvas {
  padding-left: 8px;
}

.chartContainer {
  padding: 24px 16px;
  background: #32373a;
  border-radius: 10px !important;
}

@media only screen and (max-width: 1200px) {
  .breakDisplay {
    display: initial;
  }
  #fastStatistics .carousel-item .row :not(.bigI) i {
    display: none;
  }
  .carousel-item .row .col-3 {
    padding-right: 0px;
    padding-left: 0px;
    width: 0px;
  }

  .carousel-item .row .col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%;
  }

  #fastStatistics .carousel-item p {
    text-align: center !important;
  }
}

@media only screen and (max-width: 768px) {
  #firstCanvas {
    padding-right: 15px;
    padding-bottom: 16px;
  }

  #secondCanvas {
    padding-left: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .carousel-item .col-sm-3:not(:last-child) {
    margin-bottom: 1rem;
  }
  .carousel-item .row .col-3 {
    padding-right: 4px;
    padding-left: 4px;
    width: 100%;
  }
  .carousel-item .row .col-9 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  #fastStatistics .carousel-item p {
    text-align: left !important;
  }
}
