.carousel-item .col-md-4 {
  height: 150px;
  background-color: wheat;
  background-clip: content-box;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}
.carousel-control-prev,
.carousel-control-next {
  width: auto;
}

#fastStatistics {
  margin-bottom: 2rem !important;
}

@media only screen and (max-width: 768px) {
  .carousel-item .col-md-4:not(:last-child) {
    padding-bottom: 1rem;
  }
}
