<nav id="sideMenuWideScreen" class="nav primaryBG flex-column py-2 px-2">
  <!-- <button id="menuToggle" class="btn btn-primary m-1" (click)="toggleMenu()">
    {{ showAnchors ? "⬇" : "⬆" }}
  </button> -->
  <a
    class="btn btn-primary m-1"
    routerLinkActive="activeLink"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="./"
    >Home</a
  >
  <a
    class="btn btn-primary m-1"
    routerLinkActive="activeLink"
    routerLink="users"
    >Users</a
  >
  <a
    class="btn btn-primary m-1"
    routerLinkActive="activeLink"
    routerLink="companies"
    >Companies</a
  >
  <a class="btn btn-primary m-1" routerLinkActive="activeLink" routerLink="cars"
    >Cars</a
  >
  <a
    class="btn btn-primary m-1"
    routerLinkActive="activeLink"
    routerLink="feedbacks"
    >Feedbacks</a
  >
</nav>

<nav id="sideMenuNarrowScreen" class="row p-0 m-0">
  <div class="row">
    <div class="col-sm-3 p-0">
      <a
        class="btn d-block btn-block btn-primary py-3"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="./"
      >
        <i class="fa fa-home mr-1"></i>
        <p>Home</p>
      </a>
    </div>

    <div class="col-sm-3 p-0">
      <a
        class="btn d-block btn-block btn-primary py-3"
        routerLinkActive="activeLink"
        routerLink="users"
      >
        <i class="fa fa-address-book mr-1"></i>
        <p>Users</p>
      </a>
    </div>

    <div class="col-sm-3 p-0">
      <a
        class="btn btn-block btn-primary py-3"
        routerLinkActive="activeLink"
        routerLink="feedbacks"
      >
        <i class="fa fa-book-open mr-1"></i>
        <p>Feedbacks</p>
      </a>
    </div>
  </div>
</nav>
