#sideMenuWideScreen {
  position: fixed;
  height: 90vh;
  width: 17%;
  border-radius: 10px;
}
#sideMenuNarrowScreen {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.btn-primary {
  background-color: #909090;
  border-color: #909090;
}

.activeLink {
  background-color: #3ea6ff;
  border-color: #3ea6ff;
}

#sideMenuNarrowScreen a {
  color: white;
  height: 100%;
  border-radius: 0px !important;
  padding-right: 0px;
  padding-left: 0px;
  /* padding-; */
}

@media only screen and (max-width: 800px) {
  #sideMenuWideScreen {
    display: none;
  }
  #sideMenuNarrowScreen p {
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }
  #sideMenuNarrowScreen {
    display: block;
    backdrop-filter: blur(20px) !important;
    background-color: rgba(5, 5, 16, 0.7) !important;
  }

  #sideMenuNarrowScreen .col-sm-3 {
    max-width: 25% !important;
    flex: 0 0 25% !important;
  }

  .btn-primary {
    background-color: transparent;
    border-color: transparent;
  }

  .activeLink {
    background-color: #3ea6ff;
    border-color: #3ea6ff;
  }
}

@media only screen and (max-width: 500px) {
  #sideMenuNarrowScreen p {
    display: none;
  }
}
