#sideMenuWideScreen {
  position: fixed;
  height: 90vh;
  width: 17%;
  border-radius: 10px;
}
#sideMenuNarrowScreen {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.btn-primary {
  background-color: #909090;
  border-color: #909090;
}

.activeLink {
  background-color: #3ea6ff;
  border-color: #3ea6ff;
}

#sideMenuNarrowScreen a {
  height: 100%;
  border-radius: 0px !important;
  /* padding-; */
}

@media only screen and (max-width: 800px) {
  #sideMenuWideScreen {
    display: none;
  }
  #sideMenuNarrowScreen {
    display: block;
    backdrop-filter: blur(20px) !important;
    background-color: rgba(5, 5, 16, 0.6) !important;
  }

  .col-sm-4 {
    max-width: 33.333333% !important;
    flex: 0 0 33.333333% !important;
  }
  .btn-primary {
    background-color: transparent;
    border-color: transparent;
  }

  .activeLink {
    background-color: #3ea6ff;
    border-color: #3ea6ff;
  }
}
