<nav id="sideMenuWideScreen" class="nav primaryBG flex-column py-2 px-2">
  <a
    class="btn btn-primary m-1"
    routerLinkActive="activeLink"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="./"
    >Home</a
  >
  <a
    class="btn btn-primary m-1"
    routerLinkActive="activeLink"
    routerLink="users"
    >Users</a
  >
  <a
    class="btn btn-primary m-1"
    routerLinkActive="activeLink"
    routerLink="companies"
    >Companies</a
  >
  <a class="btn btn-primary m-1" routerLinkActive="activeLink" routerLink="cars"
    >Cars</a
  >
  <a
    class="btn btn-primary m-1"
    routerLinkActive="activeLink"
    routerLink="feedbacks"
    >Feedbacks</a
  >
</nav>

<nav id="sideMenuNarrowScreen" class="row p-0 m-0 primaryNAVsFilter NAVsFilter">
  <div class="row">
    <div class="col-sm-3 p-0">
      <a
        class="btn d-block primaryFC py-3"
        routerLinkActive="activeLink"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="./"
      >
        <i class="fa fa-home"></i>
        <p>Home</p>
      </a>
    </div>

    <div class="col-sm-3 p-0">
      <a
        class="btn d-block primaryFC py-3"
        routerLinkActive="activeLink"
        routerLink="users"
      >
        <i class="fa fa-address-book"></i>
        <p>Users</p>
      </a>
    </div>

    <div class="col-sm-3 p-0">
      <a
        class="btn btn-block primaryFC py-3"
        routerLinkActive="activeLink"
        routerLink="cars"
      >
        <i class="fas fa-car"></i>
        <p>Our Cars</p>
      </a>
    </div>
    <div class="col-sm-3 p-0">
      <a
        class="btn btn-block primaryFC py-3"
        routerLinkActive="activeLink"
        routerLink="navigate"
      >
        <i class="fas fa-ellipsis-v"></i>
        <p>Menu</p>
      </a>
    </div>
  </div>
</nav>
